<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" type="image/png" href="https://mapaton.org/rutas/libs/images/favicon.png"/>
    <link rel="stylesheet" href="/javascripts/leaflet.css"/>
    <link rel="stylesheet" href="javascripts/lib/leaflet.label/leaflet.label.css"/>
    <link rel="stylesheet" href="bootstrap/boostrap.select2/select2.css"/>
    <link rel="stylesheet" href="ui-lightness/jquery-ui-1.8.23.custom.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-timepicker.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css"/>

    <link rel="stylesheet" href="stylesheets/main.css"/>

    <title>MapMap</title>
    <script>
        const defaultLatLon = [19.5421979, -96.9549486];
    </script>

</head>

<body>

<script src="javascripts/jquery.js"></script>
<script src="javascripts/leaflet-src.js"></script>
<script src="javascripts/handlebars.js"></script>
<script src="javascripts/underscore-min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap-datepicker.js"></script>
<script src="javascripts/backbone.js"></script>
<script src="lib/leaflet.label/leaflet.label-src.js"></script>
<script src="javascripts/lib/moment.js"></script>

<div class="container-fluid" id="content">

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-3" style="float: left;display: inline-block;">
                    <a href="https://mapaton.org">
                        <img class="pull-left" src="images/bus.jpg" style="width: 182px;"/>
                    </a>
                </div>
                <div class="col-xs-9" style="float: left;display: inline-block;">
                    <div style="padding-left: 20px;" class="control-group {{#error}}error{{/error}}">
                        <form id="loginForm" action="view-unit" method="GET">
                            <input class="app-input" name="unitId" type="text" placeholder="Introduce el ID de unidad de tu dispositivo móvil"/>
                            {{#error}}
                                <span class="help-inline" style="margin-bottom: 10px;">
                                    {{error}}
                                </span>
                            {{/error}}
                            <br/>
                            <button class="go-to">Ver datos</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <p>
                <b>MapMap</b> es un kit de <a href="https://github.com/codeandomexico/mapmap/" target="_blank">código
                abierto</a> para mapeo de rutas de transporte público.
            </p>
            <p>
                Con la <a href="https://github.com/CodeandoMexico/mapmap/releases/download/v1.1.0/app-debug.apk" target="_blank">aplicación móvil</a>
                es posible capturar datos georeferenciados sobre las rutas y paradas, el número de pasajeros que suben y bajan,
                asi como el tiempo de recorridos totales y entre paradas.
            </p>
            <p>
                Estos datos después los puedes sincronizar con el servidor donde podrás consultarlos y exportarlos a CSV o Shapefile.
            </p>

        </div>
    </div>

</div>

</body>

</html>
