<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">


        <service android:name="org.codeandomexico.mapmap.CaptureService">
            <intent-filter>
                <action android:name="codeandoxalapa.org.mapmap.CaptureService" />
            </intent-filter>
        </service>


        <activity
            android:name="org.codeandomexico.mapmap.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.codeandomexico.mapmap.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.NewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.ReviewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.UploadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.CaptureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.codeandomexico.mapmap.EditActivity"
            android:screenOrientation="portrait" />

    </application>


</manifest>
