name: Docker Image

on:
    push:
      branches:
        - main

jobs:
    package-server-app:
        runs-on: ubuntu-22.04
        environment: production
        if: github.ref == 'refs/heads/main'

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Setup Java
              uses: actions/setup-java@v3
              with:
                java-version: 17
                distribution: 'temurin'

            - name: Setup Maven
              uses: stCarolas/setup-maven@4.5
              with:
                maven-version: 3.9.2

            - name: Package Jar
              run: mvn package

            - name: List target directory
              run: ls target/

